/* general */

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding: 96px 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
}

/* header */

/* header mobile menu */

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-btn-icon {
  fill: 2f2f37;
  display: block;
}

.mobile-menu {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition-property: opacity, visibility;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-navigation-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-address {
  font-style: normal;
  margin-bottom: 48px;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-address-link {
  display: block;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-socials {
  display: flex;
  gap: 40px;
  justify-content: flex-start;
}

/* header common style */

.header-style {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-second-word {
  color: #2e2f42;
}

.navigation-list,
.address-style {
  display: none;
}

.mobile-navigation-link:hover,
.mobile-navigation-link:focus,
.mobile-address-link:hover,
.mobile-address-link:focus,
.navigation-link:hover,
.navigation-link:focus,
.address-link:hover,
.address-link:focus,
.navigation-link.current {
  color: #404bbf;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .navigation-style {
    display: flex;
    align-items: center;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .navigation-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-link:hover::after,
  .navigation-link:focus::after,
  .navigation-link.current::after {
    opacity: 1;
  }

  .address-style {
    display: block;
    font-style: normal;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    gap: 12px;
  }

  .address-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {

  .header-logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

}

/* hero */

.order-service-section {
  margin: 0 auto;
  max-width: 1440px;
  background-size: cover;
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-hw4-people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.mobile-hero-header-style {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero-header-style {
  display: none;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.order-service-button {
  display: block;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  margin: 0 auto;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .order-service-section {
    padding: 112px 0;
  }

  .mobile-hero-header-style {
    display: none;
  }

  .hero-header-style {
    display: block;
  }
}

@media screen and (min-width: 1158px) {

  .order-service-section {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-hw4-people-office-1.jpg);
  }

  .hero-header-style {
    margin-bottom: 48px;
  }
}

/* benefits */

.our-benefits-list {
  display: flex;
  gap: 24px;
}

.our-benefits-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.benefits-icon {
  display: flex;
  height: 112px;
  padding: 24px 0;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
}

.our-benefits-list-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* our team */

.our-team-section {
  background-color: #f4f4fd;
}

.our-team-header,
.our-portfolio-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.our-team-list-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-member-text-container {
  padding: 32px 0;
}

.our-team-list-item-header,
.our-team-list-item-text {
  text-align: center;
  margin-bottom: 8px;
}

.our-benefits-list-item-text,
.our-team-list-item-text,
.our-portfolio-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.socials-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.social-link {
  display: flex;
  background-color: #4d5ae5;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/* our portfolio */

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.our-portfolio-list-item {
  flex-basis: calc((100% - 48px) / 3);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-list-item:hover,
.our-portfolio-list-item:focus {
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-portfolio-list-item:hover .portfolio-item-overlay,
.our-portfolio-list-item:focus .portfolio-item-overlay {
  cursor: pointer;
  transform: translateY(0%);
}

.portfolio-item-text-container {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.our-portfolio-list-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* footer */

.footer-style {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}

.container.footer-container {
  display: flex;
  align-items: baseline;
}

.container.footer-logo-container {
  margin-right: 120px;
  margin-left: 0;
  padding-right: 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-second-word {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.container.footer-socials-container {
  margin-left: 0;
  padding-left: 0;
}

.socials-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.socials-list.footer-socials {
  gap: 16px;
}

.social-link.footer-social-link:hover,
.social-link.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-subscription-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-right: 0;
  margin-left: auto;
  gap: 24px;
}

.footer-subscription-label {
  display: flex;
  flex-direction: column;
}

.footer-subscription-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-email-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;

  background-color: transparent;

  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;

  padding-left: 16px;

  outline: none;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email-input:focus {
  border: 1px solid #4d5ae5;
}

.footer-email-input::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.email-subscription-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;

  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email-subscription-btn:hover,
.email-subscription-btn:focus {
  background-color: #404bbf;
}

.email-paper-plane-send {
  fill: #fff;
  margin-left: 16px;
}

/* modal window */

.modal-back-overlay {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition-property: opacity, visibility;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-back-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 72px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;

  transform: translate(-50%, -50%);

  width: 288px;
  min-height: 623px;
  border-radius: 4px;

  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-back-overlay:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;

  transition-property: background-color, border;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  fill: #2e2f42;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #fff;
}

.modal-form-header {
  text-align: center;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.modal-form {
  width: 256px;
}

.modal-form-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  border: 0;
  outline: none;
  width: 100%;
  height: 40px;
}

.modal-form-input {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: transparent;
  padding-left: 38px;
  background-color: transparent;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-with-icon input:focus {
  border-color: #4d5ae5;
}

.modal-form-input:focus~svg {
  fill: #4d5ae5;
}

.form-comment {
  margin-bottom: 16px;
}

.modal-form-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;

  outline: transparent;

  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
  border-color: #4d5ae5;
}

.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-agreement-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}

.modal-form-agreement-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.custom-checkmark {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition-property: background-color, border;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkmark-icon {
  fill: #fcfcfc;
}

.modal-form-agreement-checkbox:checked~.modal-form-agreement-label> :nth-child(1) {
  background-color: #404bbf;
  border: none;
}

.privacy-policy-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-decoration: underline;
  color: #4d5ae5;
}

.user-data-submit-btn {
  display: block;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  margin: 0 auto;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.user-data-submit-btn:hover,
.user-data-submit-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;

    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }

  .modal-form {
    width: 360px;
  }

}